<a href="https://colab.research.google.com/github/ahmadbarakt/LSTM-Predictive-Maintenance/blob/master/LSTM_Rule_Based_Expert_System_Predictive_Maint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1: Data Ingestion
---
### Import Libraries

In [0]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score

from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, Activation
from keras.callbacks import EarlyStopping

import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

### Download Datasets
In this section, We will be downloading the datasets obtained from from the [Predictive Maintenance](https://www.kaggle.com/datasets). The dataset compiles data collected from 21 sensors for an aircraft engin. The three data files are:

    * `PM_train.txt`
    * `PM_test.txt`
    * `PM_truth.txt`

In [0]:
# Upload from Google Drive via PyDrive
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
#List data directory
basedataurl = os.path.join(os.getcwd(), '/content/drive/My Drive/Colab Notebooks/Predictive Maintenace/Dataset_Aircraft_Engines/')
print(os.listdir(basedataurl))

['PM_test.txt', 'PM_truth.txt', 'PM_train.txt']

In [0]:
# We will store each of these data sets in a local persistance folder
SHARE_ROOT = os.path.join(os.getcwd(),'/content/drive/My Drive/Colab Notebooks/Predictive Maintenace/Aircraft_Engines_Models_Saved/')

# These file names detail where we store each data file. 
TRAIN_DATA = 'PM_train_files.pkl'
TEST_DATA = 'PM_test_files.pkl'
TRUTH_DATA = 'PM_truth_files.pkl'

### Data Ingestion
In the following section, we ingest the training, test and ground truth datasets.

In [0]:
dataset_train=pd.read_csv(basedataurl + 'PM_train.txt',sep=' ',header=None).drop([26,27],axis=1)
col_names = ['id','cycle','setting1','setting2','setting3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']
dataset_train.columns=col_names
print('Shape of Train dataset: ',dataset_train.shape)
dataset_train.head()

Shape of Train dataset:  (20631, 26)

   id  cycle  setting1  setting2  setting3  ...  s17   s18    s19    s20      s21
0   1      1   -0.0007   -0.0004     100.0  ...  392  2388  100.0  39.06  23.4190
1   1      2    0.0019   -0.0003     100.0  ...  392  2388  100.0  39.00  23.4236
2   1      3   -0.0043    0.0003     100.0  ...  390  2388  100.0  38.95  23.3442
3   1      4    0.0007    0.0000     100.0  ...  392  2388  100.0  38.88  23.3739
4   1      5   -0.0019   -0.0002     100.0  ...  393  2388  100.0  38.90  23.4044

[5 rows x 26 columns]

In [0]:
dataset_test=pd.read_csv(basedataurl + 'PM_test.txt',sep=' ',header=None).drop([26,27],axis=1)
dataset_test.columns=col_names
#dataset_test.head()
print('Shape of Test dataset: ',dataset_train.shape)
dataset_train.head()

Shape of Test dataset:  (20631, 26)

   id  cycle  setting1  setting2  setting3  ...  s17   s18    s19    s20      s21
0   1      1   -0.0007   -0.0004     100.0  ...  392  2388  100.0  39.06  23.4190
1   1      2    0.0019   -0.0003     100.0  ...  392  2388  100.0  39.00  23.4236
2   1      3   -0.0043    0.0003     100.0  ...  390  2388  100.0  38.95  23.3442
3   1      4    0.0007    0.0000     100.0  ...  392  2388  100.0  38.88  23.3739
4   1      5   -0.0019   -0.0002     100.0  ...  393  2388  100.0  38.90  23.4044

[5 rows x 26 columns]

In [0]:
pm_truth=pd.read_csv(basedataurl + 'PM_truth.txt',sep=' ',header=None).drop([1],axis=1)
pm_truth.columns=['more']
pm_truth['id']=pm_truth.index+1
pm_truth.head()

   more  id
0   112   1
1    98   2
2    69   3
3    82   4
4    91   5

# Step 2: Data Preparation & Preprocessing
---
We next generate labels for the training data. Since the last observation is assumed to be a failure point, we can calculate the Remaining Useful Life (RUL) for every cycle in the data.

In [0]:
# generate column max for test data
rul = pd.DataFrame(dataset_test.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id', 'max']
rul.head()

   id  max
0   1   31
1   2   49
2   3  126
3   4  106
4   5   98

Using RUL, we can create a label indicating time to failure.

In [0]:
# run to failure
pm_truth['rtf']=pm_truth['more']+rul['max']
pm_truth.head()

   more  id  rtf
0   112   1  143
1    98   2  147
2    69   3  195
3    82   4  188
4    91   5  189

In [0]:
pm_truth.drop('more', axis=1, inplace=True)
dataset_test=dataset_test.merge(pm_truth,on=['id'],how='left')
dataset_test['ttf']=dataset_test['rtf'] - dataset_test['cycle']
dataset_test.drop('rtf', axis=1, inplace=True)
dataset_test.head()

   id  cycle  setting1  setting2  setting3  ...   s18    s19    s20      s21  ttf
0   1      1    0.0023    0.0003     100.0  ...  2388  100.0  38.86  23.3735  142
1   1      2   -0.0027   -0.0003     100.0  ...  2388  100.0  39.02  23.3916  141
2   1      3    0.0003    0.0001     100.0  ...  2388  100.0  39.08  23.4166  140
3   1      4    0.0042    0.0000     100.0  ...  2388  100.0  39.00  23.3737  139
4   1      5    0.0014    0.0000     100.0  ...  2388  100.0  38.99  23.4130  138

[5 rows x 27 columns]

In [0]:
dataset_train['ttf'] = dataset_train.groupby(['id'])['cycle'].transform(max)-dataset_train['cycle']
dataset_train.head()

   id  cycle  setting1  setting2  setting3  ...   s18    s19    s20      s21  ttf
0   1      1   -0.0007   -0.0004     100.0  ...  2388  100.0  39.06  23.4190  191
1   1      2    0.0019   -0.0003     100.0  ...  2388  100.0  39.00  23.4236  190
2   1      3   -0.0043    0.0003     100.0  ...  2388  100.0  38.95  23.3442  189
3   1      4    0.0007    0.0000     100.0  ...  2388  100.0  38.88  23.3739  188
4   1      5   -0.0019   -0.0002     100.0  ...  2388  100.0  38.90  23.4044  187

[5 rows x 27 columns]

In the following section, we create a new feature (label_bc) to indicate if the engine will fail within 30 days (RUL <=30).

In [0]:
df_train=dataset_train.copy()
df_test=dataset_test.copy()
period=30
df_train['label_bc'] = df_train['ttf'].apply(lambda x: 1 if x <= period else 0)
df_test['label_bc'] = df_test['ttf'].apply(lambda x: 1 if x <= period else 0)
df_train.head()

   id  cycle  setting1  setting2  ...    s20      s21  ttf  label_bc
0   1      1   -0.0007   -0.0004  ...  39.06  23.4190  191         0
1   1      2    0.0019   -0.0003  ...  39.00  23.4236  190         0
2   1      3   -0.0043    0.0003  ...  38.95  23.3442  189         0
3   1      4    0.0007    0.0000  ...  38.88  23.3739  188         0
4   1      5   -0.0019   -0.0002  ...  38.90  23.4044  187         0

[5 rows x 28 columns]

In [0]:
#Select the variables will be used for the LSTM Model
features_col_name=['setting1', 'setting2', 'setting3', 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11',
                   's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21']
target_col_name='label_bc'

In the following section, we use a MinMaxScalaer to transform all variables by scaling each feature to a given range

In [0]:
sc=MinMaxScaler()
df_train[features_col_name]=sc.fit_transform(df_train[features_col_name])
df_test[features_col_name]=sc.transform(df_test[features_col_name])

# Step 3: Model Building & Evaluation
---

#### LSTM Model Preperation

In [0]:
# function to generate sequence
def gen_sequence(id_df, seq_length, seq_cols):
    df_zeros=pd.DataFrame(np.zeros((seq_length-1,id_df.shape[1])),columns=id_df.columns)
    id_df=df_zeros.append(id_df,ignore_index=True)
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    lstm_array=[]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        lstm_array.append(data_array[start:stop, :])
    return np.array(lstm_array)

In [0]:
# function to generate labels
def gen_label(id_df, seq_length, seq_cols,label):
    df_zeros=pd.DataFrame(np.zeros((seq_length-1,id_df.shape[1])),columns=id_df.columns)
    id_df=df_zeros.append(id_df,ignore_index=True)
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    y_label=[]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        y_label.append(id_df[label][stop])
    return np.array(y_label)

In [0]:
# timestamp or window size
seq_length=50
seq_cols=features_col_name

In [0]:
# generate X_train
X_train=np.concatenate(list(list(gen_sequence(df_train[df_train['id']==id], seq_length, seq_cols)) for id in df_train['id'].unique()))
print(X_train.shape)
# generate y_train
y_train=np.concatenate(list(list(gen_label(df_train[df_train['id']==id], 50, seq_cols,'label_bc')) for id in df_train['id'].unique()))
print(y_train.shape)

(20531, 50, 24)
(20531,)

In [0]:
# generate X_test
X_test=np.concatenate(list(list(gen_sequence(df_test[df_test['id']==id], seq_length, seq_cols)) for id in df_test['id'].unique()))
print(X_test.shape)
# generate y_test
y_test=np.concatenate(list(list(gen_label(df_test[df_test['id']==id], 50, seq_cols,'label_bc')) for id in df_test['id'].unique()))
print(y_test.shape)

(12996, 50, 24)
(12996,)

#### LSTM Model Development

In [0]:
nb_features =X_train.shape[2]
timestamp=seq_length

model = Sequential()

model.add(LSTM(
         input_shape=(timestamp, nb_features),
         units=100,
         return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(
          units=50,
          return_sequences=False))
model.add(Dropout(0.2))

model.add(Dense(units=1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 50, 100)           50000
_________________________________________________________________
dropout_3 (Dropout)          (None, 50, 100)           0
_________________________________________________________________
lstm_4 (LSTM)                (None, 50)                30200
_________________________________________________________________
dropout_4 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 51
=================================================================
Total params: 80,251
Trainable params: 80,251
Non-trainable params: 0
_________________________________________________________________

In [0]:
# fit the network
model.fit(X_train, y_train, epochs=10, batch_size=200, validation_split=0.05, verbose=1,
          callbacks = [EarlyStopping(monitor='val_loss', min_delta=0, patience=0, verbose=0, mode='auto')])

Train on 19504 samples, validate on 1027 samples
Epoch 1/10
19504/19504 [==============================] - 31s 2ms/step - loss: 0.1957 - accuracy: 0.9247 - val_loss: 0.0741 - val_accuracy: 0.9718
Epoch 2/10
19504/19504 [==============================] - 30s 2ms/step - loss: 0.0789 - accuracy: 0.9682 - val_loss: 0.0602 - val_accuracy: 0.9708
Epoch 3/10
19504/19504 [==============================] - 30s 2ms/step - loss: 0.0729 - accuracy: 0.9697 - val_loss: 0.0499 - val_accuracy: 0.9854
Epoch 4/10
19504/19504 [==============================] - 30s 2ms/step - loss: 0.0656 - accuracy: 0.9727 - val_loss: 0.0842 - val_accuracy: 0.9581

#### LSTM Model Evaluation

In [0]:
# training metrics
scores = model.evaluate(X_train, y_train, verbose=1, batch_size=200)
print('Accurracy: {}'.format(scores[1]))

20531/20531 [==============================] - 9s 431us/step
Accurracy: 0.9701914191246033

In [0]:
y_pred=model.predict_classes(X_test)
print('Accuracy of model on test data: ',accuracy_score(y_test,y_pred))
print('Confusion Matrix: \n',confusion_matrix(y_test,y_pred))

Accuracy of model on test data:  0.989843028624192
Confusion Matrix:
 [[12658     6]
 [  126   206]]

#### Model Prediction

In [0]:
def prob_failure(machine_id):
    machine_df=df_test[df_test.id==machine_id]
    machine_test=gen_sequence(machine_df,seq_length,seq_cols)
    m_pred=model.predict(machine_test)
    failure_prob=list(m_pred[-1]*100)[0]
    return failure_prob

#### Rule-Based Function

In [0]:
!pip install https://github.com/buguroo/pyknow/archive/v1.7.0.tar.gz

Collecting https://github.com/buguroo/pyknow/archive/v1.7.0.tar.gz
  Using cached https://github.com/buguroo/pyknow/archive/v1.7.0.tar.gz
Requirement already satisfied (use --upgrade to upgrade): pyknow==1.7.0 from https://github.com/buguroo/pyknow/archive/v1.7.0.tar.gz in /usr/local/lib/python3.6/dist-packages
Requirement already satisfied: frozendict==1.2 in /usr/local/lib/python3.6/dist-packages (from pyknow==1.7.0) (1.2)
Requirement already satisfied: schema==0.6.7 in /usr/local/lib/python3.6/dist-packages (from pyknow==1.7.0) (0.6.7)
Building wheels for collected packages: pyknow
  Building wheel for pyknow (setup.py) ... done
  Created wheel for pyknow: filename=pyknow-1.7.0-cp36-none-any.whl size=34144 sha256=21b29af4856e7538be7e3eeabd8a57de805f9d76e5bff7f66f04f41674c35da6
  Stored in directory: /tmp/pip-ephem-wheel-cache-1u4r407e/wheels/60/0d/f3/ec32e587d51ab5454ab6fb005b9ec929e19c52bf06725a6786
Successfully built pyknow

In [0]:
from random import choice
from pyknow import *
from pyknow import P

class Machine_Failure(Fact):
    """Info about the machine maintenace actions."""
    pass

# KnowledgeEngine 
# You ES will subclass KnowledgeEngine
# 1. Decorate methods to define rules of the ES
# 2. Instantiate
# 3. Reset system (reset() method) : prep for execution
# 4. declare input facts (delare() method)
# 5. run the engine (run method)
class Maintenance_Status(KnowledgeEngine):
    # The Rule is callable
    # Will match with every instace of 'probability' Fact

    @Rule(Machine_Failure(prop=P(lambda x: x >= 0)& P(lambda x: x < 40)))
    def normal_status(self):
        print("No Action Required")

    @Rule(Machine_Failure(prop=P(lambda x: x >= 40)& P(lambda x: x < 50)))
    def action_1(self):
        print("Send a team to analyze machine and predict maintenance requirements")
    
    @Rule(Machine_Failure(prop=P(lambda x: x >= 50)& P(lambda x: x < 60)))
    def action_2(self):
        print("Create work order and prepare for maintenance request")

    @Rule(Machine_Failure(prop=P(lambda x: x >= 60)& P(lambda x: x < 80)))
    def naction_3(self):
        print("Schedule and dispatch work and resources") # RHS

    @Rule(Machine_Failure(prop=P(lambda x: x >= 80)& P(lambda x: x <= 100)))
    def action_4(self):
        print("Excute maintenace")

# Step 4: Prediction
---

#### Check probability of failure within next 30 days

In [0]:
machine_id=81
prob=prob_failure(machine_id)
print('Probability that machine will fail within 30 days: ',prob)

Probability that machine will fail within 30 days:  99.03113

#### Check maintenance action required

In [0]:
engine = Maintenance_Status()
engine.reset()
engine.get_rules()
engine.declare(Machine_Failure(prop=prob))
engine.run()

Excute maintenace